In [1]:
print('------------- abs() ----------')
# abx(x) : x의 절대값 반환
print(abs(-10))

------------- abs() ----------
10

In [2]:
print(all([1,2,3]))# True
print(all([0,1,2,3])) # False

True
False

In [3]:
print(any([0,0,0])) # False
print(any([0,1,2,3])) # True
print(any([0,"",[]])) # False, 빈문자열, 빈리스트는  Flase
print(any([None,None])) # False

False
True
False
False

In [4]:
print(chr(97)) #a
print(chr(65)) #A
print(chr(13)) #ente

a
A

In [5]:
print(ord('a')) #97
print(ord('0')) #48
print(ord('\n')) #10(엔터가 아닌 new line)
print(ord(' ')) # 32
print(ord('\r')) # 13 : enter

97
48
10
32
13

In [6]:
print(divmod(7,3)) #(2, 1)

(2, 1)

In [7]:
print(enumerate(['kim','lee','park'])) #<enumerate object at 0x0000028FE5DFF380>
# 반복 요소로 사용
for name in enumerate(['kim','lee','park']) :
    print(name)

<enumerate object at 0x000002801D792440>
(0, 'kim')
(1, 'lee')
(2, 'park')

In [8]:
for i, name in enumerate(['kim','lee','park']) :
    print(i, name)

for i, name in enumerate(['kim','lee','park'],start=1) :
    print(i, name)

0 kim
1 lee
2 park
1 kim
2 lee
3 park

In [9]:
def positive(x) :
    return x > 0 # True/False로 반환 양수만 반환

print(filter(positive,[0,-1,5,-7,10]))
print(list(filter(positive,[0,-1,5,-7,10])))

<filter object at 0x000002801D7901C0>
[5, 10]

In [10]:
def even_n(x) : # 짝수만 반환
    if x% 2 == 0 :
        return x
print(list(filter(even_n,[0,1,2,3,4,5,6,7,8])))

[2, 4, 6, 8]

In [11]:
print('\n------------hex()------------')
x = 0x569F # 16진수값 저장
# 정수를 0x 접두사가 붙는 소문자 16진수 문자열로 변환
# hex(7)
print(hex(7)) #0x7
print(type(hex(7))) #<class 'str'>
print(hex(10)) #0xa
print(hex(1234)) #0x4d2

------------hex()------------
0x7
<class 'str'>
0xa
0x4d2

In [12]:
def increase(x) : # x값을 전달받아 1 증가후 반환 하는 함수
    return x + 1

print(map(increase,[1,2,3,4,5])) #<map object at 0x000001FB43013DF0>
print(list(map(increase,[1,2,3,4,5])))

<map object at 0x000002801D79FD00>
[2, 3, 4, 5, 6]

In [13]:
print("\n--- pow() ---")
# 제곱한 결과값을 반환
print(pow(10,3))

print("\n--- round() ---")
#  실수를 반올림하여 반환
# round(number, ndigits) ndigits:표현할 소수 이하 자리수
print(round(3.141592,3))

print("\n---- sum() ----")
# sum(iterable)
print(sum([1,2,3,4,5]))
print(sum((3,5,7,9)))

--- pow() ---
1000

--- round() ---
3.142

---- sum() ----
15
24

In [14]:
print("\n---- zip ----")
# zip(*iterable) : 각 iterable에서 동일한 인덱스의 요소를 추출하여 묶어서 튜플형태로 반환
# zip 객체로 반환하고 내부에 iterable 자료형으로 구성되어 있으므로 형변환해서 사용
print(zip([1,2,3],[4,5,6]))
print(list(zip([1,2,3],[4,5,6])))

---- zip ----
<zip object at 0x000002801D7CBA40>
[(1, 4), (2, 5), (3, 6)]

In [15]:
# zip() 함수를 사용해서 튜플로부터 딕셔너리 생성
keys = ('apple','pear','peach')
vals = (300,250,400)
print(tuple(zip(keys,vals)))
result = dict(zip(keys,vals))
print(result) #{'apple': 300, 'pear': 250, 'peach': 400}

(('apple', 300), ('pear', 250), ('peach', 400))
{'apple': 300, 'pear': 250, 'peach': 400}