In [2]:
pip install pymysql

Requirement already satisfied: pymysql in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pymysql

In [5]:
db = pymysql.connect(host='localhost', port=3306,user='root',passwd='s99021200@',charset='utf8')

In [7]:
db

In [8]:
cursor=db.cursor()

In [9]:
sql = 'create database IF NOT EXISTS ecommerce'
cursor.execute(sql)

1

In [11]:
sql = "show databases"
cursor.execute(sql)
result = cursor.fetchall()
result

(('DBSQL',),
 ('ecommerce',),
 ('information_schema',),
 ('my_emp',),
 ('my_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sqldb',),
 ('STUDENTS',),
 ('sys',))

In [13]:
sql = 'use ecommerce'
cursor.execute(sql)

0

In [15]:
sql = 'select database()'
cursor.execute(sql)
result = cursor.fetchone()
result

('ecommerce',)

In [16]:
cursor

In [21]:
sql = """
    create table product (
        product_code VARCHAR(20) NOT NULL,
        tltle VARCHAR(200) NOT NULL,
        ori_price INT,
        discount_price INT,
        discount_percent INT,
        delivery VARCHAR(2),
        primary key(product_code)
    );
"""

In [22]:
cursor.execute(sql)

0

In [23]:
sql = 'show tables'
cursor.execute(sql)
result = cursor.fetchall()
result

(('product',),)

In [24]:
db.close()

In [25]:
import pymysql

db = pymysql.connect(host='localhost', port=3306,user='root',passwd='s99021200@',charset='utf8')

In [26]:
cursor = db.cursor()

In [30]:
sql = "use ecommerce"
cursor.execute(sql)

0

In [31]:
sql = """
    create table product2 (
        product_code VARCHAR(20) NOT NULL,
        tltle VARCHAR(200) NOT NULL,
        ori_price INT,
        discount_price INT,
        discount_percent INT,
        delivery VARCHAR(2),
        primary key(product_code)
    );
"""

In [32]:
cursor.execute(sql)

0

In [33]:
db.commit()

In [34]:
db.close()

In [42]:
import pymysql

db = pymysql.connect(host='localhost', port=3306,user='root',passwd='s99021200@', db='ecommerce',charset='utf8')

In [36]:
cursor = db.cursor()

In [38]:
sql = "use ecommerce"
cursor.execute(sql)

0

In [39]:
for index in range(10):
    product_code = 216573140 + index + 1
    sql = """INSERT INTO product2 VALUES(
    '""" + str(product_code)+ """', '스위트바니 여름신상', 23000, 6900, 70, 'F');"""
    print(sql)
    cursor.execute(sql)

INSERT INTO product2 VALUES(
    '216573141', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573142', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573143', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573144', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573145', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573146', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573147', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573148', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573149', '스위트바니 여름신상', 23000, 6900, 70, 'F');
INSERT INTO product2 VALUES(
    '216573150', '스위트바니 여름신상', 23000, 6900, 70, 'F');

In [41]:
db.commit()

In [44]:
sql = "select * from product2"
cursor.execute(sql)

10

In [57]:
result = cursor.fetchone() # 현재 커서를 다음 레코드로 이동시키고 해당 레코드를 반환
result

In [59]:
result = cursor.fetchall()

In [60]:
result

()

In [63]:
db.close()

Error: Already closed